import processing.core.*;
/**
 * Write a description of class RegularPolygon here.
 *
 * @author (your name)
 * @version (a version number or a date)
 */
public class RegularPolygon extends Canvas.Shape
{
    // instance variables - replace the example below with your own
    private int noSides;
    private float x;
    private float y;
    private double radius;
    int strokeColor;
    int fillColor;
    float theta;

    /**
     * Constructor for objects of class RegularPolygon
     */
    public RegularPolygon() {
        this(7,100,100,100,0,255,0);
    }
    public RegularPolygon(int noSides, float x, float y, double radius) {
        this(noSides,x,y,radius,0,255,0);
    }
    public RegularPolygon(int noSides, float x, float y, double radius, int
    strokeColor, int fillColor, float theta) {
        this.noSides = noSides;
        this.x = x;
        this.y = y;
        this.radius = radius;
        this.strokeColor = strokeColor;
        this.fillColor = fillColor;
        this.theta = theta;
    }
    public void draw() {
        System.out.println( "A polygon with " + noSides + " sides and various other properties" );
    }
    void keyPressed() {
            noSides++;
    }
    public void changeSides(int newNoSides) {
        if (noSides > 2) {
            noSides = newNoSides;
        }
    }
    public void changePos(float newX, float newY) {
        x = newX;
        y = newY;
    }
    

    /**
     * An example of a method - replace this comment with your own
     *
     * @param  y  a sample parameter for a method
     * @return    the sum of x and y
     */
}
